body {
    background-color: rgb(0, 0, 0);
    font-family: 'comic sans';
    margin: 30px;
    color: limegreen;
}
h1 {
    color: yellow;
    font-size: 45px;
}
.sub-judul {
    color: #4eff2b;    
    font-size: 25px;
}
a {
    color: #fff;
    }
.menu {
    padding: 0;
}
.menu li {
    display: inline-block;
    margin: 0 15px;
}
#tittle {
    text-transform: uppercase;
    text-align: center;
}
table {
    table-layout: fixed;
    width: 500px;
    text-align: center;
    }
td {
    border: 1px solid white;
    padding: 10px
}